{% extends "base.html" %}
{%- import "utils.html" as utils -%}

{% block title %}{{data.post.title}} - r/{{subreddit}} - Older reddit{% endblock %}

{% block content %}
<div class="subreddit-post">
    <h2 class="post-title">{{data.post.title}}</h2>
    <div class="center">{% call utils::render_flair(data.post.get_link_flair()) %}</div>

    <div class="post-metadata">
        <small>{{data.post.score}} - submitted [time] by <a href="/u/{{data.post.author}}">{{data.post.author}}</a>{% call utils::render_flair(data.post.get_author_flair()) %} </small>
    </div>
    {% match data.get_post_type() %}
        {% when crate::api::PostType::Text %}
            {{data.post.selftext.clone()|markdown}}
        {% when crate::api::PostType::Link %}
            {% if let Some(u) = data.get_url() %}
            <a href="{{u}}">{{u}}</a>
            {% endif %}
        {% when crate::api::PostType::Image %}
            {% if let Some(u) = data.get_url() %}
            <div class="image-container">
                <img src="{{u}}" class="image-post">
            </div>
            {% endif %}
        {% when crate::api::PostType::Gallery %}
        <p>Can't display galleries right now</p>
        {% when crate::api::PostType::Poll %}
        <p>Can't display polls right now</p>
        {% when crate::api::PostType::Video %}
        <p>Videos cannot be displayed.</p>
    {% endmatch %}
</div>
<div class="comments-container">
    {% for comment in data.comments %} 
    <div class="comment">
        <small>{{comment.score}} - <a href="/u/{{comment.author}}">{{comment.author}}</a> - [time]</small>
        {{comment.body.clone()|markdown}}
        {% call render_replies(comment.replies) %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% macro render_replies(listing) %}
    {% if let ReplyList::Replies(list) = listing %}
        {% for child in list.children %}
            {% if let RedditData::T1(comment) = child %}
                <div class="comment">
                    <small>{{comment.score}} - <a href="/u/{{comment.author}}">{{comment.author}}</a>{% call utils::render_flair(comment.get_author_flair()) %} - [time]</small>
                    {{comment.body.clone()|markdown}}
                    {% call render_replies1(comment.replies) %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_replies1(listing) %}
    {% if let ReplyList::Replies(list) = listing %}
        {% for child in list.children %}
            {% if let RedditData::T1(comment) = child %}
                <div class="comment">
                    <small>{{comment.score}} - <a href="/u/{{comment.author}}">{{comment.author}}</a>{% call utils::render_flair(comment.get_author_flair()) %} - [time]</small>
                    {{comment.body.clone()|markdown}}
                    {% call render_replies2(comment.replies) %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_replies2(listing) %}
    {% if let ReplyList::Replies(list) = listing %}
        {% for child in list.children %}
            {% if let RedditData::T1(comment) = child %}
                <div class="comment">
                    <small>{{comment.score}} - <a href="/u/{{comment.author}}">{{comment.author}}</a>{% call utils::render_flair(comment.get_author_flair()) %} - [time]</small>
                    {{comment.body.clone()|markdown}}
                    {% call render_replies3(comment.replies) %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_replies3(listing) %}
    {% if let ReplyList::Replies(list) = listing %}
        {% for child in list.children %}
            {% if let RedditData::T1(comment) = child %}
                <div class="comment">
                    <small>{{comment.score}} - <a href="/u/{{comment.author}}">{{comment.author}}</a>{% call utils::render_flair(comment.get_author_flair()) %} - [time]</small>
                    {{comment.body.clone()|markdown}}
                    {% call render_replies4(comment.replies) %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_replies4(listing) %}
    {% if let ReplyList::Replies(list) = listing %}
        {% for child in list.children %}
            {% if let RedditData::T1(comment) = child %}
                <div class="comment">
                    <small>{{comment.score}} - <a href="/u/{{comment.author}}">{{comment.author}}</a>{% call utils::render_flair(comment.get_author_flair()) %} - [time]</small>
                    {{comment.body.clone()|markdown}}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}