<div class="nav-links">
    <span><a href="/r/{{subreddit}}?sort=hot">hot</a></span>
    <span>|</span>
    <span><a href="/r/{{subreddit}}?sort=new" class="active">new</a></span>
    <span>|</span>
    <span><a href="/r/{{subreddit}}?sort=rising">rising</a></span>
    <span>|</span>
    <span><a href="/r/{{subreddit}}?sort=controversial">controversial</a></span>
    <span>|</span>
    <span><a href="/r/{{subreddit}}?sort=top">top</a></span>
    <span>|</span>
    <span><a href="/r/{{subreddit}}/wiki">wiki</a></span>
</div>
<div class="padding-right">
</div>
<form action="/r/{{subreddit}}/search" method="GET" class="search">
    <label class="checkbox-label" for="include_over_18">NSFW</label>
    <input type="checkbox" id="include_over_18" name="include_over_18" value="true">
    <input type="text" id="search" name="q" placeholder="Search...">
    <input type="submit" value="Search">
</form>
