{% extends "base.html" %}

{% block title %}r/{{subreddit}} - Older reddit{% endblock %}

{% block content %}

{% for post in data.posts %}
    <div class="subreddit-post">
        <small>{{post.score}}</small>
        <a href="/r/{{post.subreddit}}/comments/{{post.id}}">{{post.title}}</a>
        <br>
        {% if subreddit != post.subreddit %}
            <small>Submitted [time] by <a href="/u/{{post.author}}">{{post.author}}</a> to <a href="/r/{{post.subreddit}}">r/{{post.subreddit}}</a> - {{post.num_comments}} comments</small>
        {% else %}
            <small>Submitted [time] by <a href="/u/{{post.author}}">{{post.author}}</a> - {{post.num_comments}} comments</small>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}