{% macro subreddit_meta(sub) %}
{% if subreddit != sub %}
to <a href="/r/{{post.subreddit}}">r/{{sub}}</a>
{% endif %}
{% endmacro %}

{% macro render_flair(flair) %}
{% if let Some(f) = flair %}
<div class="flair" style="background-color: {{f.1}};">{{f.0}}</div>
{% endif %}
{% endmacro %}

{% macro render_comment_meta(t1) %}
{% if t1.is_submitter %}
<div class="op">OP</div>
{% endif %}

{% if t1.locked %}
 - locked
{% endif %}

{% if t1.stickied %}
 - sticky
{% endif %}

{% endmacro %}

{% macro get_comment_class(t1) %}

{% if t1.locked %}
comment-locked
{% endif %}

{% if t1.stickied %}
comment-stickied
{% endif %}

comment
{% endmacro %}

{% macro get_post_class(t3) %}

{% if t3.locked %}
subreddit-post-locked
{% endif %}

{% if t3.stickied %}
subreddit-post-stickied
{% endif %}

subreddit-post
{% endmacro %}

{% macro render_post_meta(t3) %}
{% if t3.over_18 %}
<div class="nsfw">NSFW</div>
{% endif %}

{% if t3.spoiler %}
<div class="spoiler">SPOILER</div>
{% endif %}

{% if t3.locked %}
 - locked
{% endif %}

{% if t3.stickied %}
 - sticky
{% endif %}

{% if t3.pinned %}
 - pinned
{% endif %}

{% if t3.archived %}
 - archived
{% endif %}
{% endmacro %}